* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-image: url('../img/news_back.png'); /* 画像のURLを指定 */
    background-size: cover; /* 画像を全面に表示 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    padding: 100px 0; /* 上下の余白を調整 */
    bottom: 0;
    font-family: Arial, sans-serif;
}

#title{
   font-size: 600%; 
   color: white;
   margin-left: 10%;
   
}

.main p{
    font-size: 150%;
    color: white;
    margin-left: 10%;
}

#line{
    width: 80%; /* 両サイドを10%ずつ短く */
    margin: auto; /* 中央配置 */
    border: none; /* デフォルトの線を消す */
    height: 2px; /* 線の太さ */
    background-color: rgb(255, 255, 255); /* 線の色 */
    margin: 100px auto 0;
}