* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: white;
}

.top_logo {
    width: 40%; /* 画面幅の40%のサイズ */
    max-width: 250px; /* 最大サイズを指定 */
    height: auto;
    margin-top: 5%;
}

.slogan {
    margin-top: 20px;
    font-size: 20px;
    color: #002F87; /* 深い青色 */
    font-weight: bold;
    line-height: 1.8;
}

.news-box {
    width: 50%; 
    margin: auto; /* 中央配置 */
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 20px;
    background: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}
.news-box h2 {
    text-align: center;
    color: #003366;
}
.news-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.news-item:last-child {
    border-bottom: none;
}
.news-date {
    font-size: 12px;
    color: #666;
}
.news-text {
    font-size: 14px;
    color: #333;
}
.news-button {
    display: block;
    width: 100%;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.card_img{
    width: 60%; /* 画面幅の40%のサイズ */
    max-width: 400px; /* 最大サイズを指定 */
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    background-image: url('../img/category_mobile.png'); /* デフォルトはモバイル用 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* PC向け */
@media screen and (min-width: 769px) {
    .card {
        background-image: url('../img/footer_back.png'); /* PC用の画像に変更 */
        background-size: cover;
    }
}


.download{
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact{
    background-color: #002F87;
    color: white;
    padding: 50px;
}

#contact_Us{
    font-size: 50px;
}

.pickup{
    margin-top: 5%;
    margin-bottom: 5%;
}